<!DOCTYPE html>
<html lang="en">
    <!-- header file contains the head part of the project -->
    <%- include('Layout/header.ejs'); %>

        <body>
            <!-- navbar of the project -->
            <%- include('Layout/navbar.ejs'); %>

            <form method="POST" action="/save/appointmentSlots" class="container d-flex justify-content-center">
                <div class="col-6">
            
                    <div class="form-group mt-3">
                        <label for="bookingDate">Date :</label>
                        <input type="date" class="form-control" id="bookingDate" name="bookingDate">
                    </div>
                    <div class="form-group mt-3">
                        <select name="bookingTime" class="form-select">
                            <option>Select a time</option>
                                <option value="09:00 AM">09:00 AM</option>
                                <option value="09:30 AM">09:30 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="10:30 AM">10:30 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                                <option value="11:30 AM">11:30 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="12:30 PM">12:30 PM</option>
                                <option value="01:00 PM">01:00 PM</option>
                                <option value="01:30 PM">01:30 PM</option>
                                <option value="02:00 PM">02:00 PM</option>
                                <option value="02:30 PM">02:30 PM</option>
                                <option value="03:00 PM">03:00 PM</option>
                                <option value="03:30 PM">03:30 PM</option>
                                <option value="04:00 PM">04:00 PM</option>
                                <option value="04:30 PM">04:30 PM</option>
                                <option value="05:00 PM">05:00 PM</option>
                                <option value="05:30 PM">05:30 PM</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-dark mt-4" value="Submit" />
                </div>
            </form>

            <!-- footer of the project -->
            <%- include('Layout/footer.ejs'); %>
            <!-- script of the project -->
            <%- include('Layout/script.ejs'); %>
            <%- include('Layout/appointmentJS.ejs'); %>
        </body>

</html>